@use "../../variables";

.homePageCategories {
  li {
    list-style: none;
  }
  .category-list {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    gap: 10%;
    margin: 2% 0;
    img {
      height: 80%;
    }
    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10%;
      h2 {
        color: variables.$color-black;
        font-weight: bold;
      }

      button {
        width: fit-content;
      }
    }
  }
  .toggle-content {
    display: flex;
    flex-direction: row-reverse;
    .description p {
      margin-left: 5%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .homePageCategories .category-list {
    height: 20vh;
    margin: 2%;
    img {
      width: 40%;
    }
  }
}

@media screen and (max-width: 480px) {
  .homePageCategories .category-list {
    height: 25vh;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    img {
      height: initial;
      width: 30%;
    }
    .description {
      gap: 5%;
      height: 100%;
      h2 {
        font-size: 1.3em;
      }
    }
  }
}
